<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/quantumzhao/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Quantumzhao" />
      <add key="ClearTextPassword" value="62b516ca97afbfb813d705a970ff98a2d3c84fa4" />
    </github>
  </packageSourceCredentials>
</configuration>