<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/quantumzhao/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Quantumzhao" />
      <add key="ClearTextPassword" value="ead1e811b5a4c4916701fdcf3c81cf13c044f919" />
    </github>
  </packageSourceCredentials>
</configuration>